# Coq build artifacts
*.vo
*.vos
*.vok
*.glob
*.aux
*.d
*.cm*
*.o
*.a
*.cma
*.cmi
*.cmx
*.cmxs
*.native
*.byte

# coq_makefile generated
Makefile.coq
Makefile.coq.conf

# extraction output (generated)
extracted/*
!extracted/.gitkeep

# Editor/IDE
.lia.cache
.coq-native
.coq-pkg
.vscode/


